<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <div class="profile-pic">
                            <img src="/assets/téléchargé.jpg" alt="Profile Picture">
                        </div>
                        <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                        
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-key p-2"></span>
                                    <input type="text" class="form-control" placeholder="Enter your code" formControlName="resetToken">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" class="form-control" placeholder="Enter new password" formControlName="newPassword">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" class="form-control" placeholder="Confirm new password" formControlName="confirmPassword">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}" aria-hidden="true"></span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-block mt-3 w-100" (click)="resetPassword()">Reset Password</button>
                            <p class="text-muted text-center pt-2">If you didn't receive the email, please check your spam folder. You can also <a routerLink="/reset-password-email">change your email</a>.</p>
                            <button type="button" class="btn btn-secondary btn-block mt-2 w-100" (click)="resendEmail()">Resend Email</button>
                            <div class="text-center pt-3 text-muted">Remember your password? <a routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
