<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body class="full-page">
  <div class="main-content">
    <!-- Top navbar -->
   
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url('{{user.profileImageUrl1}}'); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white" *ngIf="user"> {{user.name}} <svg style="background-color: green;" *ngIf="user.status" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
            </svg> </h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
           

            <a *ngIf="!user.status" href="admin/users" class="btn btn-info" style="background-color: green;" (click)="aceppter()">accepter</a>
            <a href="admin/users" class="btn btn-info" style="background-color: red;" (click)="deleuser()">Delete profile</a>

          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <label for="profile-picture" style="cursor: pointer;">
                      <img [src]="user.profileImageUrl1" class="rounded-circle" *ngIf="user">
                    </label>
                  </div>
                  
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <!--<a href="#" class="btn btn-sm btn-default float-right">Message</a>-->
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" *ngIf="user">
                <h3>
                  {{user.name}} {{user.lastname}}<span class="font-weight-light">, 27 ans</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2" *ngIf="user"></i>{{user.country}}, {{user.city}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4">
                <p>{{user.aboutme}}</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <!--<div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>-->
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label text-primary" for="input-city" >Name:</label>
                        <h3 class="mb-4" *ngIf="user">{{ '      ' + user.name}}</h3>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label text-primary" for="input-city">Last Name:</label>
                        <h3 class="" for="input-name" *ngIf="user"><strong>{{user.lastname}}</strong></h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label text-primary" for="input-city">Email:</label>
                        <h3 class="" for="input-name" *ngIf="user"> <strong>{{user.email}}</strong></h3>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label text-primary" for="input-city">Telephone:</label>
                        <h3 class="" for="input-name" *ngIf="user"> <strong>{{user.telephone}}</strong></h3>
                      </div>
                    </div>
                  </div>
                    
                </div>
                
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label text-primary" for="input-city">Address:</label>
                        <h3 class="" for="input-name" *ngIf="user">     <strong>{{user.country}}/{{user.city}}/{{user.rue}}</strong></h3>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-focused">
                        <label class="form-control-label text-primary" for="input-city">Code Postal:</label>
                        <h3 class="" for="input-name" *ngIf="user"> <strong>{{user.codePostal}}</strong></h3>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label text-primary" for="input-city">Contry:</label>
                        <h3  placeholder="City" *ngIf="user">{{user.country}}</h3>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <!-- Utilisez la classe "text-primary" de Bootstrap pour changer la couleur -->
                        <label class="form-control-label text-primary" for="input-city">Country:</label>
                        <h3 placeholder="City" *ngIf="user">{{user.country}}</h3>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label text-primary" for="input-city">Rue:</label>
                        <h3  placeholder="City" *ngIf="user">{{user.rue}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About Me :</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <h3 *ngIf="user">{{user.aboutme}}</h3>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
